Website Analyser & Cold Email Outreach Agent/Website Analyser & Cold Email Outreach Agent.json
{
  "name": "Website Analyser & Cold Email Outreach Agent",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        272
      ],
      "id": "1b2e358f-6ba1-4eac-a4aa-4d6c0953fc2f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "=https://api.builtwith.com/free1/api.json?KEY=c4c59d89-e8a6-4c21-91c7-c356b4338272&LOOKUP=leadgenman.com",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3264,
        80
      ],
      "id": "ca00c270-be65-4cd2-9691-eba1f6f1eea3",
      "name": "Get Website Tech Stack"
    },
    {
      "parameters": {
        "jsCode": "const data = $json; // output from HTTP Request\nconst cms = data.groups.find(g => g.name === 'cms');\nconst analytics = data.groups.find(g => g.name === 'analytics');\nconst framework = data.groups.find(g => g.name === 'framework');\nconst hosting = data.groups.find(g => g.name === 'hosting');\n\nreturn [{\n  domain: data.domain,\n  cms: cms?.categories.map(c => c.name).join(', ') || 'N/A',\n  analytics: analytics?.categories.map(c => c.name).join(', ') || 'N/A',\n  framework: framework?.categories.map(c => c.name).join(', ') || 'N/A',\n  hosting: hosting?.categories.map(c => c.name).join(', ') || 'N/A',\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3488,
        80
      ],
      "id": "4b6bc03b-8f0f-4c3a-b416-96ff6de59ae3",
      "name": "Parse Important Information"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3784,
        304
      ],
      "id": "6601b999-23a7-4b73-b21f-a36b541b1d7c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "uNKbFNcyq1JqI9GO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "FirstName, output.Name",
        "joinMode": "keepNonMatches",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3040,
        80
      ],
      "id": "1804dc32-2ab5-4eb3-9c41-cd0db4143fc5",
      "name": "Merge"
    },
    {
      "parameters": {
        "text": "={{ $json.Email }}",
        "attributes": {
          "attributes": [
            {
              "name": "Name",
              "description": "Name of person",
              "required": true
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract the name from the email address.\n\nUse your abilities to identify if the associated name is a real human name or not. If it is a real human name, pass it on. If not, pass on an empty string."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        2240,
        80
      ],
      "id": "5d0acceb-a048-48fc-b735-547cf436b26c",
      "name": "Find Name"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5eca86a6-9974-4825-8572-0ff0a409befe",
              "leftValue": "={{ $json.output.Name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2592,
        80
      ],
      "id": "52bcfe72-ce92-4d18-bcb8-a970051739fc",
      "name": "Name Found?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b9ae58b-ade4-41b5-ba24-fd74efacec02",
              "name": "Introduction",
              "value": "=Hey {{ $('Find Name').item.json.output.Name.split(\" \")[0] }},",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2816,
        -16
      ],
      "id": "bd78bf62-4fde-462a-b044-5dc60b8e30cf",
      "name": "Greet By Name"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "04e24d11-7367-430a-af9e-80bc1523d8e5",
              "name": "Introduction",
              "value": "=Hi there, {{ $json.output.Name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2816,
        176
      ],
      "id": "45306f0a-1840-471e-985b-78d76d411f0d",
      "name": "General Greeting"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2312,
        304
      ],
      "id": "80024936-4aa5-4a04-8280-b86407c5163f",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "uNKbFNcyq1JqI9GO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write Email",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a cold email specialist working for a digital agency.\n\nYou have the following information about a company:\n\n- Company Website Domain: {{ $('Parse Important Information').item.json.domain }}\n- Company Industry: {{ $json.Industry }}\n- Company Website CMS: {{ $('Parse Important Information').item.json.cms }}\n- Company Website Analytics: {{ $('Parse Important Information').item.json.analytics }}\n- Company Website Framework: {{ $('Parse Important Information').item.json.framework }}\n- Company Website Hosting: {{ $('Parse Important Information').item.json.hosting }}\n\nYour Task:\n\n- Using the information above, write a short, personalized, and effective cold email to the company.\n- Start with a brief and natural introduction mentioning what you noticed about their website (use the CMS, framework, hosting, or analytics info if relevant).\n- Compare their website to top-performing sites in the same industry, pointing out a few realistic opportunities for improvement.\n- Offer quick, helpful insights on how our agency can help them improve these areas.\n- End with a separate short paragraph inviting them to a quick, friendly chat (10–15 minutes) to discuss ideas. The CTA should sound natural, not pushy.\n\nGuidelines:\n\n- Write in a 2-paragraph + 1 closing CTA structure (three short paragraphs total).\n- Keep the tone human, professional, friendly, and consultative — like a real person, not a script.\n- Use short, clear sentences and natural transitions.\n- Avoid overloading with technical details; focus on value and curiosity.\n- Keep the total length under 90 words — concise, easy to skim, and conversational.\n- Avoid em dashes, corporate buzzwords, or robotic phrasing.\n- Always include this email signature:\nBest Regards,\nSafqore\n\nOnce the email is generated, send it using the connected Gmail tool."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        4344,
        80
      ],
      "id": "03a3654a-afc8-45a1-9f7f-32125bed64a7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        4288,
        304
      ],
      "id": "dfd769f9-2e87-4c9c-8052-fb8e69283efc",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "uNKbFNcyq1JqI9GO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.hunter.io/v2/domain-search?domain={{ $json.Domain }}&api_key=9fb5ab9fb73d3d94ef964294279468cc451142d0",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        272
      ],
      "id": "fd0e23f9-b437-4c79-9de9-3a5d832f2638",
      "name": "Get Email From Website"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "818aa508-5919-40e0-9d74-b432c3076123",
              "leftValue": "={{ $json.Type }}",
              "rightValue": "personal",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "599ccadf-930d-496d-84d2-0e97aa2c8974",
              "leftValue": "={{ $json.Validity }}",
              "rightValue": "valid",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "dcd34ee4-d73a-4e82-b7d6-d710cf9c33ac",
              "leftValue": "={{ $json.Acceptance }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1568,
        176
      ],
      "id": "4f202a47-20e0-4ad0-b70d-ce3136c089b6",
      "name": "Check Email Type and Verify"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1gdMbQHECOERWdyEgeA-UBP-D8r_JnJymwB-ycqAUetI",
          "mode": "list",
          "cachedResultName": "Websites",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gdMbQHECOERWdyEgeA-UBP-D8r_JnJymwB-ycqAUetI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gdMbQHECOERWdyEgeA-UBP-D8r_JnJymwB-ycqAUetI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        272
      ],
      "id": "66b741d4-0f47-4307-9771-652804e75150",
      "name": "Get Websites From Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C6VSzvnZQfpXnxD0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "4c81d205-2fce-4685-baf3-066a68ffa419",
              "leftValue": "={{ $json.data.emails }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        896,
        272
      ],
      "id": "8f7dea36-667b-4ea6-a43f-06e22f7ec672",
      "name": "Email Found?"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1gdMbQHECOERWdyEgeA-UBP-D8r_JnJymwB-ycqAUetI",
          "mode": "list",
          "cachedResultName": "Websites",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gdMbQHECOERWdyEgeA-UBP-D8r_JnJymwB-ycqAUetI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gdMbQHECOERWdyEgeA-UBP-D8r_JnJymwB-ycqAUetI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.data.emails[0].value }}",
            "row_number": "={{ $('Get Websites From Sheet').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Domain",
              "displayName": "Domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        176
      ],
      "id": "2c671959-f84c-4c50-b3b3-d7c838055bb4",
      "name": "Add Email To Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C6VSzvnZQfpXnxD0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1gdMbQHECOERWdyEgeA-UBP-D8r_JnJymwB-ycqAUetI",
          "mode": "list",
          "cachedResultName": "Websites",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gdMbQHECOERWdyEgeA-UBP-D8r_JnJymwB-ycqAUetI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gdMbQHECOERWdyEgeA-UBP-D8r_JnJymwB-ycqAUetI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "=Not Found",
            "row_number": "={{ $('Get Websites From Sheet').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Domain",
              "displayName": "Domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        368
      ],
      "id": "be5fef5f-e204-4482-afc2-e2004150f11a",
      "name": "Add Error To Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C6VSzvnZQfpXnxD0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1gdMbQHECOERWdyEgeA-UBP-D8r_JnJymwB-ycqAUetI",
          "mode": "list",
          "cachedResultName": "Websites",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gdMbQHECOERWdyEgeA-UBP-D8r_JnJymwB-ycqAUetI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gdMbQHECOERWdyEgeA-UBP-D8r_JnJymwB-ycqAUetI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get Websites From Sheet').item.json.row_number }}",
            "Status": "Valid"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Domain",
              "displayName": "Domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1792,
        80
      ],
      "id": "1f5b1ab9-a68d-4c50-803a-b2684e499744",
      "name": "Add Verification To Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C6VSzvnZQfpXnxD0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "afdcf921-f7ff-45b6-8e78-9d1ee50ca048",
              "name": "Name",
              "value": "={{ $json.Name }}",
              "type": "string"
            },
            {
              "id": "ef2b8683-ebe1-47b2-a00c-9704ad7f0f33",
              "name": "Domain",
              "value": "={{ $json.Domain }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        272
      ],
      "id": "435454a5-e0b5-40fc-8b64-dce1670c9e85",
      "name": "Format 1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f7e9444f-08d2-492c-b831-b31f7644c033",
              "name": "Email",
              "value": "={{ $('Get Email From Website').item.json.data.emails[0].value }}",
              "type": "string"
            },
            {
              "id": "192e9344-f342-4ee6-b8b4-0b073a65fe88",
              "name": "First Name",
              "value": "={{ $('Get Email From Website').item.json.data.emails[0].first_name }}",
              "type": "string"
            },
            {
              "id": "36865250-c997-4f52-bf73-b6b3e5c81476",
              "name": "Validity",
              "value": "={{ $('Get Email From Website').item.json.data.emails[0].verification.status }}",
              "type": "string"
            },
            {
              "id": "bdb6e90e-8c74-46f7-b6e6-940096c1d474",
              "name": "Acceptance",
              "value": "={{ $('Get Email From Website').item.json.data.accept_all }}",
              "type": "string"
            },
            {
              "id": "158c8ac6-f3bd-4b99-8cce-9a6eae8037ab",
              "name": "Type",
              "value": "={{ $('Get Email From Website').item.json.data.emails[0].type }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        176
      ],
      "id": "4cc16117-3b9a-4490-a0e5-0cc152ab7d6c",
      "name": "Format 2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fd98e4f6-8204-4ffe-a9d1-ad57ccd5d412",
              "name": "Email",
              "value": "={{ $('Check Email Type and Verify').item.json.Email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2016,
        80
      ],
      "id": "5128f3fd-5b4f-4c9d-b4ee-24652e4d1b93",
      "name": "Format 3"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1gdMbQHECOERWdyEgeA-UBP-D8r_JnJymwB-ycqAUetI",
          "mode": "list",
          "cachedResultName": "Websites",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gdMbQHECOERWdyEgeA-UBP-D8r_JnJymwB-ycqAUetI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gdMbQHECOERWdyEgeA-UBP-D8r_JnJymwB-ycqAUetI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get Websites From Sheet').item.json.row_number }}",
            "Status": "Not Valid"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Domain",
              "displayName": "Domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1792,
        272
      ],
      "id": "38a07ecd-fd3d-4ac1-add0-63c153d6a1e0",
      "name": "Add Error To Sheet 2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C6VSzvnZQfpXnxD0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Subject\": \"Email Subject\",\n\t\"Body\": \"Email body\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        4544,
        304
      ],
      "id": "e6cd3c60-5b94-45a2-a79a-285abfc2bbee",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Domain: {{ $json.domain }}\nCMS: {{ $json.cms }}\nAnalytics: {{ $json.analytics }}",
        "messages": {
          "messageValues": [
            {
              "message": "Here’s the tech stack for a website. Based on the tools and categories, what industry or business type most likely uses this stack? (Examples: eCommerce, marketing tech, SaaS platform, news blog, health service, finance, etc.) Be concise — output only the likely industry."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        3712,
        80
      ],
      "id": "a7d3755d-f4c8-40b0-aa0b-12785c674c0f",
      "name": "Find Website Industry"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "08d2c434-e26a-46b7-803f-92a12518b8d8",
              "name": "Website",
              "value": "={{ $('Parse Important Information').item.json.domain }}",
              "type": "string"
            },
            {
              "id": "3e504ee8-01d2-4edf-8960-4ad5013af95f",
              "name": "Industry",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "4c4a3d82-904d-441f-b7eb-75b774d101fd",
              "name": "CMS",
              "value": "={{ $('Parse Important Information').item.json.cms }}",
              "type": "string"
            },
            {
              "id": "94a1350f-b67a-49da-bcd4-74a601ce1abb",
              "name": "Analytics",
              "value": "={{ $('Parse Important Information').item.json.analytics }}",
              "type": "string"
            },
            {
              "id": "20b9993c-6e3e-4a1d-847e-c4b2182b12e5",
              "name": "Framework",
              "value": "={{ $('Parse Important Information').item.json.framework }}",
              "type": "string"
            },
            {
              "id": "80bde47a-56a5-4324-a4de-d1c5edce1137",
              "name": "Hosting",
              "value": "={{ $('Parse Important Information').item.json.hosting }}",
              "type": "string"
            },
            {
              "id": "7596b9ba-2e37-4b31-9fa1-9ed8a16fe7a9",
              "name": "Email",
              "value": "={{ $('Format 3').item.json.Email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4064,
        80
      ],
      "id": "3065a2ce-5cfe-4f7a-b87c-37bb47093f9f",
      "name": "Format 5"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "sendTo": "={{ $json.Email }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        4416,
        304
      ],
      "id": "2f7a3ff7-d19e-46e2-bac2-1bc74f3a3200",
      "name": "Create a draft in Gmail",
      "webhookId": "f46fb7f4-10d1-4929-b95f-5ee29e3d58a3",
      "credentials": {
        "gmailOAuth2": {
          "id": "fpq6MYa9iHC3LCpD",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get Websites From Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Website Tech Stack": {
      "main": [
        [
          {
            "node": "Parse Important Information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Important Information": {
      "main": [
        [
          {
            "node": "Find Website Industry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Find Website Industry",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Find Name": {
      "main": [
        [
          {
            "node": "Name Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Name Found?": {
      "main": [
        [
          {
            "node": "Greet By Name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "General Greeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Greet By Name": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "General Greeting": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Find Name",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Email From Website": {
      "main": [
        [
          {
            "node": "Email Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Get Website Tech Stack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Check Email Type and Verify": {
      "main": [
        [
          {
            "node": "Add Verification To Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Error To Sheet 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Websites From Sheet": {
      "main": [
        [
          {
            "node": "Format 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Found?": {
      "main": [
        [
          {
            "node": "Add Email To Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Error To Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Email To Sheet": {
      "main": [
        [
          {
            "node": "Format 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Verification To Sheet": {
      "main": [
        [
          {
            "node": "Format 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format 1": {
      "main": [
        [
          {
            "node": "Get Email From Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format 2": {
      "main": [
        [
          {
            "node": "Check Email Type and Verify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format 3": {
      "main": [
        [
          {
            "node": "Find Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Find Website Industry": {
      "main": [
        [
          {
            "node": "Format 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format 5": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "04f9d0ff-e9ee-46e5-9ef0-5e01fbc74b95",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f2b60516d590765e4e1c690949afcb50529099f27176cf6d7f5919368a8b94e5"
  },
  "id": "VzHLq66UXvtfRAGM",
  "tags": []
}